<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DashBoard2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Sessao</display-name>
    <servlet-name>Sessao</servlet-name>
    <servlet-class>com.everis.servlets.controller.Sessao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sessao</servlet-name>
    <url-pattern>/Sessao</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>InserirLogin</display-name>
    <servlet-name>InserirLogin</servlet-name>
    <servlet-class>com.everis.servlets.controller.InserirLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserirLogin</servlet-name>
    <url-pattern>/InserirLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserirRms</display-name>
    <servlet-name>InserirRms</servlet-name>
    <servlet-class>com.everis.servlets.controller.InserirRms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserirRms</servlet-name>
    <url-pattern>/InserirRms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teste</display-name>
    <servlet-name>Teste</servlet-name>
    <servlet-class>com.everis.servlets.controller.Teste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teste</servlet-name>
    <url-pattern>/Teste</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirRms</display-name>
    <servlet-name>ExcluirRms</servlet-name>
    <servlet-class>com.everis.servlets.controller.ExcluirRms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirRms</servlet-name>
    <url-pattern>/ExcluirRms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRms</display-name>
    <servlet-name>ViewRms</servlet-name>
    <servlet-class>com.everis.servlets.controller.ViewRms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRms</servlet-name>
    <url-pattern>/ViewRms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarRms</display-name>
    <servlet-name>BuscarRms</servlet-name>
    <servlet-class>com.everis.servlets.controller.BuscarRms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarRms</servlet-name>
    <url-pattern>/BuscarRms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarRms</display-name>
    <servlet-name>AtualizarRms</servlet-name>
    <servlet-class>com.everis.servlets.controller.AtualizarRms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarRms</servlet-name>
    <url-pattern>/AtualizarRms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestUsuarios</display-name>
    <servlet-name>RequestUsuarios</servlet-name>
    <servlet-class>com.everis.servlets.controller.RequestUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestUsuarios</servlet-name>
    <url-pattern>/RequestUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProjetos</display-name>
    <servlet-name>ViewProjetos</servlet-name>
    <servlet-class>com.everis.servlets.controller.ViewProjetos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProjetos</servlet-name>
    <url-pattern>/ViewProjetos</url-pattern>
  </servlet-mapping>
</web-app>